# ── Build output
.next/
out/
.contentlayer/

# ── Dependencias
node_modules/

# ── Entornos/secretos
.env
.env.*
!.env.example

# ── Logs / caches
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.eslintcache

# ── Vercel/otros
.vercel/

# ── SO / editores
.DS_Store
Thumbs.db
.vscode/
.idea/
