@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-black antialiased dark:bg-black dark:text-white;
}

::selection {
  @apply bg-black text-white dark:bg-white dark:text-black;
}
